<!doctype html>
<html th:fragment="layout(template)" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Pet Clinic</title>
    <link rel="icon" href="data:,">
    <style>
        .error { color: red; }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse
        }
    </style>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <b>User:</b> <span sec:authentication="name"></span>
    <b>Authorities:</b> <span sec:authentication="authorities"></span>
    <b>Principal Authorities</b> <span sec:authentication="principal.authorities"></span>
</div>
<div>
    <ul th:remove="all">
        <li th:fragment="menuItem(link, text)">
            <a th:href="@{${link}}" th:text="${text}"></a>
        </li>
    </ul>
    <ul>
        <li th:replace="~{::menuItem('/', 'Home')}"></li>
        <li th:replace="~{::menuItem('/owners/find', 'Find Owners')}"></li>
        <li th:replace="~{::menuItem('/vets', 'Veterinarians')}"></li>
        <li th:replace="~{::menuItem('/oops', 'Oops')}"></li>
    </ul>
</div>
<div>
    <th:block th:insert="${template}"></th:block>
</div>
<br/>
<div>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>
</html>