<!doctype html>
<html th:replace="~{fragments/layout :: layout(~{::body})}" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>
<h2>Owner</h2>
<form th:object="${owner}" method="post">
    <input th:replace="~{fragments/inputField :: input('First Name', 'firstName', 'text')}" />
    <input th:replace="~{fragments/inputField :: input('Last Name', 'lastName', 'text')}" />
    <input th:replace="~{fragments/inputField :: input('Address', 'address', 'text')}" />
    <input th:replace="~{fragments/inputField :: input('City', 'city', 'text')}" />
    <input th:replace="~{fragments/inputField :: input('Telephone', 'telephone', 'text')}" />
    <br/>
    <div>
        <button type="submit">Add Owner</button>
    </div>
</form>
</body>
</html>