<!doctype html>
<html th:replace="~{fragments/layout :: layout(~{::body})}" xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<h2>Find Owners</h2>
<form th:action="@{/owners}" th:object="${owner}" method="get">
    <div>
        <label for="lastName">Last Name</label>
        <input id="lastName" th:field="*{lastName}">
    </div>
    <div th:if="${#fields.hasErrors()}">
        <p th:each="error : ${#fields.allErrors()}" th:text="${error}" class="error"></p>
    </div>
    <br>
    <div>
        <button type="submit">Find Owner</button>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/owners/new}">Add Owner</a>
    </div>
</form>
</body>
</html>